*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

.wrapper {
  font-family: "OpenSans", sans-serif;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.title {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
  font-weight: 600;
  font-size: 36px;
  line-height: 189%;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #fff;
}

.location-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.project {
  background-color: #001337;
  padding: 80px 0px 60px 0px;
  color: white;
}

.project__title {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
  font-weight: 600;
  font-size: 36px;
  line-height: 189%;
}

.locus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 70px 0px;
  gap: 20px;
}

.locus__item {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.card {
  margin: 0px 0px 30px 0px;
}

.card__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.card__item {
  padding: 20px;
  background-color: #009FAC;
  border-radius: 10px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.card__bacground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card__bacground img {
  border-radius: 10px;
}

.card__body {
  position: relative;
  z-index: 2;
}

.card__item--five {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  max-width: 540px;
  background-color: #fff;
  color: #001337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__item--five .card__image {
  display: none;
}

.card__item--five .card__text {
  max-width: 265px;
}

.card__image {
  margin: 0px 0px 20px 0px;
}

.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.card__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card__next img {
  max-width: 40px;
}

.pagination {
  max-width: 344px;
  margin: 0 auto;
}

.list-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-pagination__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: #fff;
}

.list-pagination::before {
  content: "";
  background: url(../img/project/arrow-down.svg) 0px 0px/cover no-repeat;
  width: 32px;
  height: 32px;
}

.list-pagination::after {
  content: "";
  background: url(../img/project/arrow-next.svg) 0px 0px/cover no-repeat;
  width: 32px;
  height: 32px;
}

.education {
  background-color: #009FAC;
  padding: 80px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: #000D26;
}

.education__title {
  color: #fff;
}

.education__text {
  margin: 0px auto 60px auto;
  max-width: 920px;
}

.education__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.education__img {
  display: block;
  padding: 0px 0px 30% 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
  border-radius: 10px;
  overflow: hidden;
}

.education__btn-items {
  max-width: 540px;
  margin: 30px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education__button {
  max-width: 272px;
  width: 100%;
  border: 1px solid #E0F0FF;
  border-radius: 10px;
  padding: 15px 0px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.education__button--active {
  background-color: #E0F0FF;
  color: #000D26;
  margin: 0px 0px 0px -10px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.info-list__item {
  list-style: disc;
  margin: 0 0 0 20px;
}

.connection {
  background-color: #009FAC;
  padding: 80px 0 35px;
}

.connection__title {
  margin: 0px 0px 30px 0px;
  color: #fff;
}

.connection__text {
  margin: 0px auto 60px auto;
  max-width: 920px;
}

.form {
  text-align: center;
}

.form__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.form__button {
  color: #fff;
  margin: 37px 0 0;
  padding: 15px 0px;
  max-width: 350px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
}

.form__input {
  max-width: 352px;
  color: #009FAC;
  padding: 19px 0 19px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  border-radius: 10px;
  outline: none;
  vertical-align: top;
}

.form__input::-webkit-input-placeholder {
  color: #009FAC;
}

.form__input::-moz-placeholder {
  color: #009FAC;
}

.form__input:-ms-input-placeholder {
  color: #009FAC;
}

.form__input::-ms-input-placeholder {
  color: #009FAC;
}

.form__input::placeholder {
  color: #009FAC;
}

.form__input--message {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.form__input--message::-webkit-input-placeholder {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.form__input--message::-moz-placeholder {
  transform: translateY(-40px);
}

.form__input--message:-ms-input-placeholder {
  -ms-transform: translateY(-40px);
      transform: translateY(-40px);
}

.form__input--message::-ms-input-placeholder {
  -ms-transform: translateY(-40px);
      transform: translateY(-40px);
}

.form__input--message::placeholder {
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
}

.form__input--message:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.form__input--message:focus::-moz-placeholder {
  transform: translateY(-40px);
}

.form__input--message:focus:-ms-input-placeholder {
  -ms-transform: translateY(-40px);
      transform: translateY(-40px);
}

.form__input--message:focus::-ms-input-placeholder {
  -ms-transform: translateY(-40px);
      transform: translateY(-40px);
}

.form__input--message:focus::placeholder {
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
}

.footer {
  padding: 80px 0;
  background-color: #001337;
  color: #fff;
}

.footer__logo {
  margin: 0px 0px 38px 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-footer {
  max-width: 263px;
}

.info-footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0px 0px 30px 0px;
}

.info-footer__coopyright {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 38px 0px 0px 0px;
}

.info-footer__coopyright-mobile {
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 40px auto 0px auto;
  text-align: center;
}

.about-us {
  max-width: 95px;
  padding: 0px 10px;
}

.about-us__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin: 0px 0px 12px 0px;
  display: inline-block;
}

.about-us__items > *:not(:last-child) {
  margin: 0px 0px 8px 0;
}

.about-us__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.location {
  max-width: 206px;
}

.location__info > *:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.location__city {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
}

.location__phone {
  display: inline-block;
}

.location__social {
  margin: 65px 0px 0px 0px;
}

.location__social > *:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1146px;
  padding: 0px 15px;
}

@media (min-width: 425px) {
  .info-footer__coopyright-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .education {
    font-weight: 600;
    font-size: 12px;
  }
}

@media (max-width: 810px) {
  .form__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .form__input {
    padding: 19px 0 19px 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .text {
    font-size: 18px;
  }

  .location-text {
    font-size: 12px;
  }

  .locus__item {
    font-size: 14px;
  }

  .card__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }

  .card__item:nth-child(7) {
    display: none;
  }

  .card__item:nth-child(8) {
    display: none;
  }

  .card__text {
    font-size: 12px;
  }

  .list-pagination__item {
    font-size: 14px;
  }

  .education__text {
    font-size: 18px;
  }

  .education__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .form__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
  }

  .form__input {
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form__input--to-name {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .form__input--phone {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .form__input--message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }

  .info-footer__text {
    font-size: 12px;
  }

  .info-footer__coopyright {
    font-size: 12px;
  }

  .about-us__title {
    font-size: 12px;
  }

  .about-us__item {
    font-size: 12px;
  }
}

@media (max-width: 690px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 688px) {
  .info-footer__coopyright {
    margin: 38px 0px 40px 0px;
  }
}

@media (max-width: 530px) {
  .locus__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 485px) {
  .info-footer {
    display: none;
  }
}

@media (max-width: 479px) {
  .card__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  .card__item {
    padding: 10px;
  }

  .card__item:nth-child(5) {
    display: none;
  }

  .card__item:nth-child(6) {
    display: none;
  }

  .card__item:nth-child(7) {
    display: none;
  }

  .card__item:nth-child(8) {
    display: none;
  }
}

@media (max-width: 425px) {
  .location {
    margin: 40px 0px 0px 0px;
  }

  .location__social {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 420px) {
  .education__button {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 12px;
  }

  .text {
    font-size: 12px;
  }

  .locus__item {
    font-size: 12px;
  }

  .card__text {
    font-size: 10px;
  }

  .list-pagination__item {
    font-size: 12px;
  }

  .education__text {
    font-size: 12px;
  }

  .form__button {
    font-size: 14px;
  }
}